* {
    margin: 0px;
    padding: 0px;

    font-family: 'Space Mono', monospace;
    color: #00474b;
}
body {
    background-color: #c5e4e7;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    font-size: 7px;
    font-weight: 400;
    color: #ffffff;
}
p {
    font-size: 7px;
    font-weight: 400;
    color: #ffffff;
}



.calc-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 10px;

    background-color: #ffffff;

    width: 345px;
    height: 180px;
}
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;

    font-size: 7px;

    width: 155px;
    height: 160px;
}

.bill-number-field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 2px;
    border: none;
    text-align: end;
    padding-left: 5px;
    padding-right: 5px;

    background-image: url("images/icon-dollar.svg");
    background-repeat: no-repeat;

    background-color: #f3f8fb;

    width: 140px;
    height: 20px;
}
.number-field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 2px;
    border: none;
    text-align: end;
    padding-left: 5px;
    padding-right: 5px;

    background-image: url("images/icon-person.svg");
    background-repeat: no-repeat;

    background-color: #f3f8fb;

    width: 140px;
    height: 20px;
}
.text-field {
    color: #00474b;
}

.select-tip-percentage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 150px;
    height: 45px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00474b;
    color: #ffffff;

    border: none;
    border-radius: 2px;

    width: 45px;
    height: 20px;
}
.button:focus {
    background-color: #9fe8df;
    color: #00474b;
}
.custom {
    background-color: #f1f9fa;
    color: #00474b;
    font-size: 10px;
    text-align: center;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #00474b;
    
    border-radius: 10px;

    width: 155px;
    height: 160px;
}
.right-side-div {
    display: flex;
    justify-content: space-between;
    /* align-items: center;  */
    
}
.text {
    padding-left: 10px;
   
}
.person {
    font-size: 5px;
    color: #29bea8;
}
.zeros {
    color: #29bea8;
    padding-right: 10px;
}


#logo {
    margin-top: 60px;
    margin-bottom: 35px;

    width: 32px;
    height: 21px;
}
#dollar-sign {
    width: 4px;
    height: 6px;
}
#person-icon {
    width: 5px;
    height: 6px;
}
#reset {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 8px;
    color: #00474b;

    background-color: #0d686d;
    border: none;
    border-radius: 2px;

    width: 125px;
    height: 18px;

    margin-left: 15px;
}
#reset:focus {
    background-color: #9fe8df;
}

@media only screen and (max-width: 600px) {
    .calc-container {
        display: flex;
        flex-direction: column;
         width: 200px;
         height: 100%;
         padding-bottom: 10px;
    }
}

   